/*==========================================================================*\
 *																			*
 *   STYLE.CSS PROJET 4 - Billet Simple pour L'Alaka - Blog Jean Forteroche *
 *                                                                          *
 *                              ADRIEN MORIM                        		*
 *																			*
\*==========================================================================*/
/*==========================================================================*\
 *								Style Général                               *
/*==========================================================================*/

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html body{
    width: 100%;
    margin: auto;
    padding: 0;
}

.container{
    width: 100%;
    margin: auto;
}

.col-lg-8
{
    height: auto;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.5);
}

.col-lg-4
{
    text-align: center;
}