/*==========================================================================*\
 *								    HEADER                                  *
/*==========================================================================*/

#banner{
    width: 100vw;
    min-height: 50vh;
    color: #ffffff;
    background-image: url("../images/alaska_2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#welcome a{
    color: #ffffff !important;
}

.banner-index{
    height: 100vh; /* unité vh pour la hauteur et vw pour la largeur: 1vh = 1% de la fenêtre */
}

#banner-title{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
}
.banner-title-index{
    margin: auto;
}

.banner-title-page{
    margin: 0 auto auto;
}

#banner-title, #teaser{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#arrow{
    height: 10vh;
}

.fa-arrow-circle-down{
    color: #ffffff;
    transform-origin: 50% 100%;
    opacity: 0;
    animation: slideY 3s infinite ease-in-out, opacity-hide-show 3s infinite ease-in-out;

}

/*==========================================================================*\
 *                          MEDIA QUERIES                                   *
\*==========================================================================*/
/*==========================================================================*\

				MEP Petit Ecran: Min-width: 760px - Max Width: 1024px;

/*===========================================================================*/

@media screen and (min-width: 768px) and (max-width: 1024px){

}

/*============================================================================*\

								MEP Tablette: Max-width: 768px

/*============================================================================*/

@media screen and (max-width: 768px) {
    #banner{
        height: 100vh;
    }
}

/*=============================================================================*\

								MEP Mobile: Max-width: 480px

/*=============================================================================*/

@media screen and (max-width: 480px){
    #banner{
        height: 100vh;
    }
}