/*==========================================================================*\
 *								    BODY                                    *
/*==========================================================================*/

#body{
    margin: 0;
    padding: 0;
}

/*============[ article overview ]=============*/

#overview{
    width: 100vw;
    height: auto;
    margin: auto;
    padding: 50px 20px 50px 20px;
    background-color: #373741;
    overflow-y: hidden;
    color: #ffffff;
}

#overview img {
    width: 100%;
    border-radius: 50%;
    transform: scale(0.9);
    transition: all 1s ease-out;
}

#overview img:hover{
    transform: scale(1.1);
}

#overview .chapter-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
    background-image: url("../images/alaska_3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    color: #373741;
    font-size: 20px;
    transform: scale(0.9);
    transition: transform 1s ease-in-out;
}

#overview .chapter-img:hover{
    transform: scale(1.2);
}

/*============[ article inner ]=============*/

#inner{
    width: 100vw;
    margin: auto;
    padding: 50px 20px 50px 20px;
    background-image: url("../images/alaska_2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#inner-page{
    padding: 50px 20px 50px 20px;
}

#inner .card-body{
    padding: 40px;
    margin: auto;
}

#inner .content-inner{
    margin-right: 20px;
}

/*============[ aside ]=============*/

#inner aside{
    opacity: 0.9;
    padding: 0;
}

#post{
    margin-top: 50px;
}

#no-comment{
    height: auto;
    padding: 10px !important;
}

/*============[ Page erreur ]=============*/

#error{
    height: 50vh;
    margin: auto;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}

#error p{
    background-color: rgba(255, 255, 255, 0.5);
    color: #373741;
    padding: 15px;
    border-radius: 10px;
}

/*============[ Profil ]=============*/

#admin{
    width: 80vw;
    min-height: 50vh;
    height: auto;
    margin: auto;
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

/*============[ Table ]=============*/

#table-blog{
    margin: auto;
    padding: 50px 0;
}

#table-blog i:hover{
    transform: scale(1.4);
    transition: all 0.5s ease-in;
}

