/*==========================================================================*\
 *								    BODY                                    *
/*==========================================================================*/

#body{
    margin: 0;
    padding: 0;
}

/*============[ article overview ]=============*/

#overview{
    width: 100vw;
    height: auto;
    margin: auto;
    padding: 50px 20px 50px 20px;
    background-color: #373741;
    overflow-y: hidden;
    color: #ffffff;
}

#overview img {
    width: 100%;
    border-radius: 50%;
    transform: scale(0.9);
    transition: all 1s ease-out;
}

#overview img:hover{
    transform: scale(1.1);
}

#overview #listChapter h4{
    display: none;
}

#overview .chapter-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 200px;
    background-image: url("../images/alaska_3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    color: #373741;
    font-size: 20px;
    transform: scale(0.9);
    transition: transform 1s ease-in-out;
}

#overview .chapter-img:hover{
    transform: scale(1.2);
}

/*============[ article inner ]=============*/

#inner{
    width: 100vw;
    margin: auto;
    padding: 50px 20px 50px 20px;
    background-image: url("../images/alaska_2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#inner-page{
    padding: 50px 20px 50px 20px;
}

#inner .card-body{
    padding: 40px;
    margin: auto;
}

#inner .content-inner{
    margin-right: 20px;
}

#inner .disabled{
    background: transparent;
    color: #5a5a5a;
}

.pop-up{
    position: relative;
    cursor: help;
}

.pop-up:focus::after,
.pop-up:hover::after{
    content: attr(aria-label);  /* on affiche aria-label */
    position: absolute;
    color: #000;
    top: -2.2em;
    transform: translateX(-100%); /* on centre horizontalement  */
    z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
    white-space: nowrap;
}

/*============[ aside ]=============*/

#inner aside{
    opacity: 0.9;
    padding: 0;
    margin-bottom: 1rem;
}

#post{
    margin-top: 50px;
}

/*#no-comment{
    height: auto;
    padding: 10px !important;
}*/

#comment hr:last-child{
    display: none;
}

/*============[ Page erreur ]=============*/

#error{
    height: 50vh;
    margin: auto;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
}

#error p{
    background-color: rgba(255, 255, 255, 0.5);
    color: #373741;
    padding: 15px;
    border-radius: 10px;
}

/*============[ Profil ]=============*/

#admin{
    width: 80vw;
    min-height: 50vh;
    height: auto;
    margin: auto;
    padding: 50px 20px 50px 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

#admin hr:last-child{
    display: none;
}

/*============[ Table ]=============*/

#table-blog{
    margin: auto;
    padding: 50px 0;
}

#table-blog i:hover{
    transform: scale(1.4);
    transition: all 0.5s ease-in;
}

/*==========================================================================*\
 *                          MEDIA QUERIES                                   *
\*==========================================================================*/
/*==========================================================================*\

				MEP Petit Ecran: Min-width: 760px - Max Width: 1024px;

/*===========================================================================*/

@media screen and (min-width: 768px) and (max-width: 1024px){

}

/*============================================================================*\

								MEP Tablette: Max-width: 768px

/*============================================================================*/

@media screen and (max-width: 768px) {
    #overview img{
        width: 50vw;
        margin: auto;
    }
    #overview .image-overview{
        text-align: center;
        margin-bottom: 20px;
    }
    #admin{
        padding: 20px 0 20px 0;
    }
    #admin input, #admin button{
        margin-bottom: 0.5rem;
    }

    #table-blog .text-center{
        text-align: center !important;
    }
}

/*=============================================================================*\

								MEP Mobile: Max-width: 480px

/*=============================================================================*/

@media screen and (max-width: 480px){
    #overview #listChapter h4{
        display: block;
    }

    #overview .chapter-img{
        display: none;
    }

    #overview .col-12{
        margin-bottom: 2rem;
    }

    #inner .card-body{
        padding: 10px;
    }

    #inner .row{
        margin: auto;
    }

    #comment .text-right .admin{
        display: none;
    }
    #admin{
        width: 90vw;
        margin: 0;
    }
    #admin h3{
        text-align: center;
    }

    #table-blog th:nth-child(2), #table-blog td:nth-child(2), #table-blog th:nth-child(3), #table-blog td:nth-child(3), #table-blog .level{
        display: none;
    }
}

